@import url(https://fonts.googleapis.com/css?family=Playfair+Display);
@import url(https://fonts.googleapis.com/css?family=Playball);
@import url(https://fonts.googleapis.com/css?family=Slabo+27px);

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
  	color: rgba(0,0,0,.87);
  	font-family: 'Playfair Display', serif;
  	font-size: 16px;
  	position: relative;
}

header {
    padding: 20px;
    background: #FF957E;
}

h1 {
	font-family: 'Slabo 27px', serif;
	font-size: 3em;
	font-weight: bold;
}

h2 {
	font-family: 'Playball', cursive;
	font-size: 35px;
    padding: .5em .5em;
    text-align: center;
}
p {
  	margin-top: 1em;
}

nav {
	text-align: center;
	background-color: #ccc;
}

/*LoVe HAte*/

nav a {
	color: inherit;
	display: inline-block;
	margin:0 3em;
    padding: 1em 2em;
    text-decoration:none;
}

nav a:hover {
	color: #fff;
}

section {
	padding: 20px 0;
	background-color: #fff;
}

label{
	padding:0 2em;
	font-size: .8em;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	display: none;
}

footer {
	background-color:  #FF957E;
    padding: 20px;
}

.container {
	margin: 0 auto;
	width: 100%;
	background-color: #ffffff;
	padding-top: 2em;
}

.artwork {
	width: 33.33%;
	padding: 2em;
	float:left;
}

.clearfix:after{
	visibility: hidden;
	height: 0;
	font-size: 0;
	content:" ";
	display: block;
	clear:both;
}

#lander {
	/*background:url(../images/IMG_2353.jpg) no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-top: 5em;*/
}

blockquote {
	color: #fff;
}
blockquote p:before {
	content:"\201C";
}
blockquote p:after {
	content:"\201d";
}
cite:before {
	content:"-";
}

#toggle{
	display: none;
}

.artwork img {
	width: 80%;
	display: block;
	margin:auto;
}

@media screen and (max-width:750px){
	nav {
		display: none;
	}

	nav a:link{
		display: block;
		padding:15px;
		margin:5px;
	}

	label {
		display: block;
	}
	
	
	#toggle:checked + nav{
		display: block;
	}
