body {
  text-align: center;
  background: url(images/IMG_2209.jpg");
  background-size: cover;
  color: #fff;
  font-family: Didot;
}

h1 {
	text-align: center;
	color: #000000;
	font-family: Didot;
}
hr {
  width: 200px;

  p {
  	text-align: center;
	color: #000000;
	font-family: Didot;
	font-style: italic;
	font-size: 18px;
}

	a {
	text-align: center;
	color: #000000;
	font-family: Didot;
	font-style: underline;
	}