style.css
body {
  text-align: center;
  background-image: url(IMG_2209.jpg);
  background-size: cover;
  color: #fff;
  font-family: Didot;
}

h1 {
	text-align: center;
	color: #000000;
	font-family: Didot;
	
}
hr {
  width: 200px;style.css